<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148932604061-vp6ourokkhp5vvbh92cc9ia700b3jfuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148932604061-vp6ourokkhp5vvbh92cc9ia700b3jfuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBoLaqnTTGlrfe7InAj1-mI094e-o9ONYw</string>
	<key>GCM_SENDER_ID</key>
	<string>148932604061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailoginlogout.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authflutter-e1097</string>
	<key>STORAGE_BUCKET</key>
	<string>authflutter-e1097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148932604061:ios:08add159c4106638cbe474</string>
</dict>
</plist>